*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(4, 4, 28);
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4%;
    padding: 3%;
    /* border: 3px solid red; */
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(175, 168, 168);
    height: 80vh;
    overflow-y: scroll;

}
h2{
    text-align: center;
    color: aliceblue;
}
img{
    height: 300px;
    width: 30%;
    margin: 2%;
    padding: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.btn {
  background-color: rgb(240, 238, 238);
  border: none;
  color: rgb(252, 248, 248);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(245, 241, 241);
}


.dropdown-content a {
  float: none;
  color: rgb(236, 226, 226);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(171, 164, 222);
    font-size: 17px;
  }


  footer ul li{
    color: rgb(240, 227, 227);
    text-decoration: none;
    list-style-type: none;
    text-align: center;
  }
  h1{
    color: aliceblue;
    text-align: center;
  }



  
@media (min-width: 600px) {
    .mars-current-weather {
      display: -ms-grid;
      display: grid;
      row-gap: 2em;
      -ms-grid-columns: (1fr);
          grid-template-columns: repeat(2, 1fr);
    }
    .date {
      grid-column: 1 / -1;
    }
    .temp {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      padding: 0;
    }
    .wind {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
    }
  }
  
  @media screen and  (min-width: 767px){
    .container {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

